<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <appSettings>
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="System.Web.Http.Controllers.IHttpController, System.Web.Http"
                mapTo="OwinUnitySwaggerWebAPI.Controllers.ValuesController, OwinUnitySwaggerWebAPI"
                name="values">
        <lifetime type="singleton"/>
      </register>
      <!--<register type="System.Web.Http.Controllers.IHttpController, System.Web.Http"
                mapTo="OwinUnitySwaggerWebAPI.TestsController, OwinUnitySwaggerWebAPI"
                name="test">
        <lifetime type="singleton"/>
      </register>-->
      <register type="OwinUnitySwaggerWebAPI.Controllers.ITestsController, OwinUnitySwaggerWebAPI"
                mapTo="OwinUnitySwaggerWebAPI.Controllers.TestsController, OwinUnitySwaggerWebAPI"
                name="test">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>

</configuration>