<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <appSettings>
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDictionary" type="System.Collections.Generic.IDictionary`2, mscorlib" />
    <alias alias="Dictionary" type="System.Collections.Generic.Dictionary`2, mscorlib" />
    <container>
      <instance name="ApiVersion" value="v1" />
      <instance name="ApiTitle" value="Owin sample API" />
      <instance name="SwaggerXmlComments" value="OwinUnitySwaggerWebAPI.xml" />

      <!-- Sample dictionary injection -->
      <register type="IDictionary[string, string]"
                mapTo="Dictionary[string, string]"
                name="Properties">
        <constructor />
        <method name="Add">
          <param name="key" value="test1" /><param name="value" value="val100" />
        </method>
        <method name="Add">
          <param name="key" value="test2" /><param name="value" value="val200" />
        </method>
      </register>

      <!-- Property injection sample -->
        <!--<register type="OwinUnitySwaggerWebAPI.ITest, OwinUnitySwaggerWebAPI"
                  mapTo="OwinUnitySwaggerWebAPI.Test, OwinUnitySwaggerWebAPI">
          <lifetime type="singleton" />
        </register>

        <register type="OwinUnitySwaggerWebAPI.IToto, OwinUnitySwaggerWebAPI"
                  mapTo="OwinUnitySwaggerWebAPI.Toto, OwinUnitySwaggerWebAPI">
          <lifetime type="singleton" />
          <property name="Test" dependencyType="OwinUnitySwaggerWebAPI.ITest, OwinUnitySwaggerWebAPI" />
        </register>-->
        <!--property name="Test" dependencyType="OwinUnitySwaggerWebAPI.ITest, OwinUnitySwaggerWebAPI" value="xsi:nil"  ==> injects a 'null' value -->
      <!-- End of property injection sample -->

      <register type="System.Web.Http.Controllers.IHttpController, System.Web.Http"
                mapTo="OwinUnitySwaggerWebAPI.Controllers.ValuesController, OwinUnitySwaggerWebAPI"
                name="values">
        <lifetime type="hierarchical" />
      </register>
      <register type="System.Web.Http.Controllers.IHttpController, System.Web.Http"
                mapTo="OwinUnitySwaggerWebAPI.Controllers.TestsController, OwinUnitySwaggerWebAPI"
                name="tests">
        <lifetime type="hierarchical" />
      </register>
    </container>
  </unity>

</configuration>