<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <appSettings>
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <instance name="ApiVersion" value="v1"/>
      <instance name="ApiTitle" value="Owin sample API"/>
      <instance name="SwaggerXmlComments" value="OwinUnitySwaggerWebAPI.xml"/>

      <register type="System.Web.Http.Controllers.IHttpController, System.Web.Http"
                mapTo="OwinUnitySwaggerWebAPI.Controllers.ValuesController, OwinUnitySwaggerWebAPI"
                name="values">
        <lifetime type="hierarchical" />
      </register>
      <register type="System.Web.Http.Controllers.IHttpController, System.Web.Http"
                mapTo="OwinUnitySwaggerWebAPI.Controllers.TestsController, OwinUnitySwaggerWebAPI"
                name="tests">
        <lifetime type="hierarchical" />
      </register>
    </container>
  </unity>

</configuration>